# Cheetah specific init.rc
import /vendor/etc/init/hw/init.gs201.rc
import /vendor/etc/init/hw/init.pantah.rc

on late-init && property:vendor.device.modules.ready=1
    # Start the twoshay touch service
    start twoshay

on property:ro.boot.cdt_hwid=0x00030303000100010001000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

on property:ro.boot.cdt_hwid=0x00030303000100000000000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

on property:ro.boot.cdt_hwid=0x00030303000100000100000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

on property:ro.boot.cdt_hwid=0x00030303000100000200000000000000
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-proto1.conf

# Display
on property:graphics.display.kernel_idle_timer.enabled=true
    # Enable aggressive idle mode switching
    write /sys/devices/platform/exynos-drm/primary-panel/panel_idle "1"

on property:graphics.display.kernel_idle_timer.enabled=false
    write /sys/devices/platform/exynos-drm/primary-panel/panel_idle "0"

# Toggle high_sensitivity according to touch_sensitivity_mode
on property:persist.vendor.touch_sensitivity_mode=0 && property:sys.boot_completed=1
    write /sys/class/spi_master/spi0/spi0.0/synaptics_tcm.0/sysfs/high_sensitivity 0

on property:persist.vendor.touch_sensitivity_mode=1 && property:sys.boot_completed=1
    write /sys/class/spi_master/spi0/spi0.0/synaptics_tcm.0/sysfs/high_sensitivity 1

# Persist
on post-fs-data
    chmod 770 /mnt/vendor/persist/uwb
