<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.gvu6c">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.settings"
             android:requiredSystemPropertyName="ro.boot.hardware.sku"
             android:requiredSystemPropertyValue="GVU6C"
             android:isStatic="true"
             android:priority="0" />
</manifest>
